<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.wisatasitubondo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TourismAndWaterParkActivity"
            android:label="@string/tourismandwaterpark"
            android:parentActivityName=".TourismAndWaterPark"></activity>
        <activity
            android:name=".HotelActivity"
            android:label="@string/hotel"
            android:parentActivityName=".Hotel"></activity>
        <activity
            android:name=".BeachDescription"
            android:label="@string/beach"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WaterBoomDescription"
            android:label="@string/waterboom"
            android:parentActivityName=".WaterBoomFragment">

        </activity>

        <activity android:name=".SpotAdapter" />
    </application>

</manifest>